hosts:
  host1:
    name: host1
    id: 1
    ip: 192.168.1.2
    intf_name: {{ p4_prog }}-tun1
{% if host_user is defined %}
    user: {{ host_user }}
{% endif %}
    public_ip: {{ host1_ip }}
    tun1_ip: {{ host1_tun1_ip }}
    tun1_mac: {{ host1_tun1_mac }}
    tunnels:
      - host: {{ switch_name }}
    ipv6: 0000:0000:0000:0000:0000:0001:0001:0002
    ip_port: any
    mac: 00:00:00:00:01:01
    type: webcam
  host2:
    name: host2
    id: 2
    ip: 192.168.1.6
    intf_name: {{ p4_prog }}-tun1
{% if host_user is defined %}
    user: {{ host_user }}
{% endif %}
    public_ip: {{ host2_ip }}
    tun1_ip: {{ host2_tun1_ip }}
    tun1_mac: {{ host2_tun1_mac }}
    tunnels:
      - host: {{ switch_name }}
    ipv6: 0000:0000:0000:0000:0000:0002:0001:0002
    ip_port: any
    mac: 00:00:00:00:01:02
    type: server
  clone:
    name: clone
    id: 3
    ip: 192.168.1.10
    intf_name: {{ p4_prog }}-tun1
{% if host_user is defined %}
    user: {{ host_user }}
{% endif %}
    public_ip: {{ clone_ip }}
    tun1_ip: {{ clone_tun1_ip }}
    tun1_mac: {{ clone_tun1_mac }}
    tunnels:
      - host: {{ switch_name }}
    ipv6: 0000:0000:0000:0000:0000:0002:0001:0003
    ip_port: any
    mac: 00:00:00:00:05:08
    type: server
# TODO - Determine how to properly configure a switch MAC value
switches:
  {{ p4_prog }}:
    name: {{ p4_prog }}
    p4_prog: {{ p4_prog }}
    id: 0
    runtime_p4info: {{ remote_scripts_dir }}/p4/{{ p4_prog }}.tofino/p4info.pb.txt
    tofino_bin: {{ remote_scripts_dir }}/p4/{{ p4_prog }}.tofino/pipe/tofino.bin
    ctx_json: {{ remote_scripts_dir }}/p4/{{ p4_prog }}.tofino/pipe/context.json
    clone_egress: 152
    ip: {{ switch_ip }}
{% if switch_user is defined %}
    user: {{ switch_user }}
{% endif %}
    tun1_ip: {{ switch_tun1_ip }}
    tun1_mac: {{ switch_tun1_mac }}
    mac: 00:00:00:01:01:00
    grpc: {{ switch_ip }}:{{ grpc_port }}
    type: {{ p4_prog }}
    arch: {{ p4_arch }}
    tunnels:
      - host: dummy
        switch_port: 128
        speed: BF_SPEED_10G
        type: default
      - host: host1
        switch_port: 136
        speed: BF_SPEED_10G
      - host: host2
        switch_port: 144
        speed: BF_SPEED_10G
      - host: clone
        switch_port: 152
        speed: BF_SPEED_10G
    telemetry_rpt:
      type: host
      name: clone
    ipv6_term_host: host2
