hosts:
  host1:
    name: host1
    id: 1
    ip: 192.168.1.2
    public_ip: {{ host1_ip }}
    tun1_ip: {{ host1_tun1_ip }}
    tun1_mac: {{ host1_tun1_mac }}
    tun2_ip: {{ host1_tun2_ip }}
    tun2_ip_mac: {{ host1_tun2_mac }}
    tunnels:
      - host: {{ switch_name }}
    ipv6: 0000:0000:0000:0000:0000:0001:0001:0002
    ip_port: any
    mac: 00:00:00:00:01:01
    type: webcam
  host2:
    name: host2
    id: 2
    ip: 192.168.1.6
    public_ip: {{ host2_ip }}
    tun1_ip: {{ host2_tun1_ip }}
    tun1_mac: {{ host2_tun1_mac }}
    tun2_ip: {{ host2_tun2_ip }}
    tun2_ip_mac: {{ host2_tun2_mac }}
    tunnels:
      - host: {{ switch_name }}
    ipv6: 0000:0000:0000:0000:0000:0002:0001:0002
    ip_port: any
    mac: 00:00:00:00:01:02
    type: server
  clone:
    name: clone
    id: 3
    ip: 192.168.1.10
    public_ip: {{ clone_ip }}
    tun1_ip: {{ clone_tun1_ip }}
    tun1_mac: {{ clone_tun1_mac }}
    tun2_ip: {{ clone_tun2_ip }}
    tun2_mac: {{ clone_tun2_mac }}
    tunnels:
      - host: {{ switch_name }}
    ipv6: 0000:0000:0000:0000:0000:0002:0001:0003
    ip_port: any
    mac: 00:00:00:00:05:08
    type: server
# TODO - Determine how to properly configure a switch MAC value
switches:
  {{ p4_prog }}:
    name: {{ p4_prog }}
    id: 0
    runtime_p4info: {{ remote_scripts_dir }}/p4/{{ p4_prog }}.tofino/p4info.pb.txt
    tofino_bin: {{ remote_scripts_dir }}/p4/{{ p4_prog }}.tofino/pipe/tofino.bin
    ctx_json: {{ remote_scripts_dir }}/p4/{{ p4_prog }}.tofino/pipe/context.json
    clone_egress: 3
    ip: {{ switch_ip }}
    tun1_ip: {{ switch_tun1_ip }}
    tun1_mac: {{ switch_tun1_mac }}
    tun2_ip: {{ switch_tun2_ip }}
    tun2_mac: {{ switch_tun2_mac }}
    mac: 00:00:00:01:01:00
    grpc: {{ switch_ip }}:{{ grpc_port }}
    type: {{ p4_prog }}
    arch: tofino
    tunnels:
      - host: host1
        virt_in_intf:  2
        virt_out_intf:  3
        switch_port: 1
      - host: host2
        virt_in_intf:  4
        virt_out_intf:  5
        switch_port: 2
      - host: clone
        virt_in_intf:  6
        virt_out_intf:  7
        switch_port: 3
    telemetry_rpt:
      type: host
      name: clone
    ipv6_term_host: host2
{# TODO/FIXME - having p4runtime exceptions with 'single_switch' but not 'full' #}
{% if p4_prog != 'gateway' %}
    multicast_entries:
      - egress_port: 1
        instance: 1
      - egress_port: 2
        instance: 1
      - egress_port: 3
        instance: 1
{% endif %}

links:
  - north_node: {{ p4_prog }}
    south_node: host1
    south_facing_port: 1
    latency: 0ms
    bandwidth: null
  - north_node: host2
    south_node: {{ p4_prog }}
    north_facing_port: 2
    latency: 0ms
    bandwidth: null
{% if p4_prog != 'aggregate' %}
  - north_node: clone
    south_node: {{ p4_prog }}
    north_facing_port: 3
    latency: 0ms
    bandwidth: null
{% endif %}
