hosts:
  Camera1:
    name: Camera1
    id: 5
    ip: {{ camera1_ip }}
    switch_mac: 00:00:01:01:01:00
    tunnels:
      - host: gateway1
        virt_intf:  {{ node_nic }}:0
    ipv6: 0000:0000:0000:0000:0000:0001:0001:0002
    ip_port: any
    mac: 00:00:00:00:01:01
    type: webcam
  NAS1:
    name: NAS1
    id: 6
    ip: {{ nas1_ip }}
    switch_mac: 00:00:01:01:02:00
    tunnels:
      - host: gateway1
        virt_intf:  {{ node_nic }}:0
    ipv6: 0000:0000:0000:0000:0000:0001:0001:0003
    ip_port: any
    mac: 00:00:00:00:01:02
    type: nas
  Game1:
    name: Game1
    id: 7
    ip: {{ game1_ip }}
    switch_mac: 00:00:01:01:03:00
    tunnels:
      - host: gateway1
        virt_intf:  {{ node_nic }}:0
    ipv6: 0000:0000:0000:0000:0000:0001:0001:0004
    ip_port: any
    mac: 00:00:00:00:01:03
    type: console
  Camera2:
    name: Camera2
    id: 8
    ip: {{ camera2_ip }}
    switch_mac: 00:00:02:02:01:00
    tunnels:
      - host: gateway2
        virt_intf:  {{ node_nic }}:0
    switch_mac: 00:00:02:02:01:00
    ipv6: 0000:0000:0000:0000:0000:0001:0002:0002
    ip_port: any
    mac: 00:00:00:00:02:01
    type: webcam
  Game2:
    name: Game2
    id: 9
    ip: {{ game2_ip }}
    switch_mac: 00:00:02:02:02:00
    tunnels:
      - host: gateway2
        virt_intf:  {{ node_nic }}:0
    ipv6: 0000:0000:0000:0000:0000:0001:0002:0003
    ip_port: any
    mac: 00:00:00:00:02:02
    type: console
  Camera3:
    name: Camera3
    id: 10
    ip: {{ camera3_ip }}
    switch_mac: 00:00:03:03:01:00
    tunnels:
      - host: gateway3
        virt_intf:  {{ node_nic }}:0
    ipv6: 0000:0000:0000:0000:0000:0001:0003:0002
    ip_port: any
    mac: 00:00:00:00:03:01
    type: webcam
  Game3:
    name: Game3
    id: 11
    ip: {{ game3_ip }}
    switch_mac: 00:00:03:03:02:00
    tunnels:
      - host: gateway3
        virt_intf:  {{ node_nic }}:0
    ipv6: 0000:0000:0000:0000:0000:0001:0003:0003
    ip_port: any
    mac: 00:00:00:00:03:02
    type: console
  inet:
    name: inet
    id: 12
    ip: {{ inet_ip }}
    tunnels:
      - host: core
        virt_intf:  {{ node_nic }}:0
    ipv6: 0000:0000:0000:0000:0000:0002:0001:0002
    ip_port: any
    mac: 00:00:00:00:05:07
    type: server

  analytics_engine:
    name: analytics_engine
    id: 13
    ip: {{ ae_ip }}
    tunnels:
      - host: core
        virt_intf:  {{ node_nic }}:0
    ipv6: 0000:0000:0000:0000:0000:0002:0001:0003
    ip_port: any
    mac: 00:00:00:00:05:08
    type: server

# TODO - Determine how to properly configure a switch MAC value
switches:
  gateway1:
    name: gateway1
    id: 0
    runtime_p4info: {{ remote_scripts_dir }}/p4/gateway.tofino/p4info.pb.txt
    tofino_bin: {{ remote_scripts_dir }}/p4/gateway.tofino/pipe/tofino.bin
    ctx_json: {{ remote_scripts_dir }}/p4/gateway.tofino/pipe/context.json
    ip: {{ gateway1_ip }}
    mac: 00:00:00:01:01:00
    grpc: {{ gateway1_ip }}:{{ grpc_port }}
    type: gateway
    arch: tofino
    tunnels:
      - host: aggregate
        virt_intf:  {{ switch_nic_prfx }}0
  gateway2:
    name: gateway2
    id: 0
    runtime_p4info: {{ remote_scripts_dir }}/p4/gateway.tofino/p4info.pb.txt
    tofino_bin: {{ remote_scripts_dir }}/p4/gateway.tofino/pipe/tofino.bin
    ctx_json: {{ remote_scripts_dir }}/p4/gateway.tofino/pipe/context.json
    ip: {{ gateway2_ip }}
    mac: 00:00:00:01:02:00
    grpc: {{ gateway2_ip }}:{{ grpc_port }}
    type: gateway
    arch: tofino
    tunnels:
      - host: aggregate
        virt_intf:  {{ switch_nic_prfx }}0
  gateway3:
    name: gateway3
    id: 0
    runtime_p4info: {{ remote_scripts_dir }}/p4/gateway.tofino/p4info.pb.txt
    tofino_bin: {{ remote_scripts_dir }}/p4/gateway.tofino/pipe/tofino.bin
    ctx_json: {{ remote_scripts_dir }}/p4/gateway.tofino/pipe/context.json
    ip: {{ gateway3_ip }}
    mac: 00:00:00:01:03:00
    grpc: {{ gateway3_ip }}:{{ grpc_port }}
    type: gateway
    arch: tofino
    tunnels:
      - host: aggregate
        virt_intf:  {{ switch_nic_prfx }}0
  aggregate:
    name: aggregate
    id: 0
    runtime_p4info: {{ remote_scripts_dir }}/p4/aggregate.tofino/p4info.pb.txt
    tofino_bin: {{ remote_scripts_dir }}/p4/aggregate.tofino/pipe/tofino.bin
    ctx_json: {{ remote_scripts_dir }}/p4/aggregate.tofino/pipe/context.json
    ip: {{ agg_ip }}
    mac: 00:00:00:02:04:00
    grpc: {{ agg_ip }}:{{ grpc_port }}
    type: aggregate
    arch: tofino
    tunnels:
      - host: core
        virt_intf:  {{ switch_nic_prfx }}0
        bridge_name: br0
        tunnel_name: gre-tun0
      - host: gateway1
        virt_intf:  {{ switch_nic_prfx }}1
        bridge_name: br1
        tunnel_name: gre-tun1
      - host: gateway2
        virt_intf:  {{ switch_nic_prfx }}2
        bridge_name: br2
        tunnel_name: gre-tun2
      - host: gateway3
        virt_intf:  {{ switch_nic_prfx }}3
        bridge_name: br3
        tunnel_name: gre-tun3
  core:
    name: core
    id: 0
    clone_egress: {{ clone_egress_port }}
    runtime_p4info: {{ remote_scripts_dir }}/p4/core.tofino/p4info.pb.txt
    tofino_bin: {{ remote_scripts_dir }}/p4/core.tofino/pipe/tofino.bin
    ctx_json: {{ remote_scripts_dir }}/p4/core.tofino/pipe/context.json
    ip: {{ core_ip }}
    mac: 00:00:00:03:05:00
    grpc: {{ core_ip }}:{{ grpc_port }}
    telemetry_rpt:
      type: host
      name: analytics_engine
    type: core
    arch: tofino
    tunnels:
      - host: aggregate
        virt_intf:  {{ switch_nic_prfx }}0
{#external:#}
{#  analytics_engine:#}
{#    name: analytics_engine#}
{#    id: 13#}
{#    ip: {{ ae_ip }}#}
{#    tunnels:#}
{#      - host: core#}
{#        virt_intf:  {{ node_nic }}:0#}
{#    ip_port: 0#}
{#    mac: 00:00:00:00:05:08#}

# TODO - This data is somewhat duplicated above but the logic in the controller
# classes only recognize the structure below. See if this can be changed for
# mininet too
links:
  - north_node: gateway1
    south_node: Camera1
    south_facing_port: 1
    latency: 0ms
    bandwidth: null
  - north_node: gateway1
    south_node: NAS1
    south_facing_port: 2
    latency: 0ms
    bandwidth: null
  - north_node: gateway1
    south_node: Game1
    south_facing_port: 3
    latency: 0ms
    bandwidth: null
  - north_node: gateway2
    south_node: Camera2
    south_facing_port: 1
    latency: 0ms
    bandwidth: null
  - north_node: gateway2
    south_node: Game2
    south_facing_port: 2
    latency: 0ms
    bandwidth: null
  - north_node: gateway3
    south_node: Camera3
    south_facing_port: 1
    latency: 0ms
    bandwidth: null
  - north_node: gateway3
    south_node: Game3
    south_facing_port: 2
    latency: 0ms
    bandwidth: null
  - north_node: aggregate
    south_node: gateway1
    south_facing_port: 1
    north_facing_port: 4
    latency: 0ms
    bandwidth: null
  - north_node: aggregate
    south_node: gateway2
    south_facing_port: 2
    north_facing_port: 3
    latency: 0ms
    bandwidth: null
  - north_node: aggregate
    south_node: gateway3
    south_facing_port: 3
    north_facing_port: 3
    latency: 0ms
    bandwidth: null
  - north_node: core
    south_node: aggregate
    south_facing_port: 1
    north_facing_port: 4
    latency: 0ms
    bandwidth: null
  - north_node: inet
    south_node: core
    north_facing_port: 2
    latency: 0ms
    bandwidth: null
  - north_node: analytics_engine
    south_node: core
    north_facing_port: 3
    latency: 0ms
    bandwidth: null
