---
{{ topo_dict.hosts['Camera1'].name }}:
  - destination: {{ topo_dict.hosts['inet'].ip }}
    interface: {{ topo_dict.hosts['Camera1'].name }}-eth0
    packet_count: 15
    interval: 3
{{ topo_dict.hosts['NAS1'].name }}:
  - destination: {{ topo_dict.hosts['inet'].ip }}
    interface: {{ topo_dict.hosts['NAS1'].name }}-eth0
    packet_count: 15
    interval: 3
{{ topo_dict.hosts['Game1'].name }}:
  - destination: {{ topo_dict.hosts['inet'].ip }}
    interface: {{ topo_dict.hosts['Game1'].name }}-eth0
    packet_count: 15
    interval: 3
{{ topo_dict.hosts['Camera2'].name }}:
  - destination: {{ topo_dict.hosts['inet'].ip }}
    interface: {{ topo_dict.hosts['Camera2'].name }}-eth0
    packet_count: 15
    interval: 3
{{ topo_dict.hosts['Game2'].name }}:
  - destination: {{ topo_dict.hosts['inet'].ip }}
    interface: {{ topo_dict.hosts['Game2'].name }}-eth0
    packet_count: 15
    interval: 3
{{ topo_dict.hosts['Camera3'].name }}:
-   destination: {{ topo_dict.hosts['inet'].ip }}
    interface: {{ topo_dict.hosts['Camera3'].name }}-eth0
    packet_count: 15
    interval: 3
{{ topo_dict.hosts['Game3'].name }}:
  - destination: {{ topo_dict.hosts['inet'].ip }}
    interface: {{ topo_dict.hosts['Game3'].name }}-eth0
    packet_count: 15
    interval: 3
