{{ public_ip }}
[all:vars]
remote_inventory_file={{ remote_inventory_file | default('/home/ubuntu/transparent-security.ini')}}
src_dir={{ src_dir | default('/home/ubuntu/transparent-security') }}
remote_srvc_log_dir={{ remote_srvc_log_dir | default('/var/log/transparent-security') }}
service_log_level={{ service_log_level | default('INFO') }}
log_dir={{ remote_srvc_log_dir | default('/var/log/transparent-security') }}
host_log_dir={{ host_log_dir | default('/home/ubuntu/tps-logs') }}
remote_tps_dir={{ remote_tps_dir | default('/home/ubuntu/transparent-security') }}
trans_sec_dir={{ remote_tps_dir | default('/home/ubuntu/transparent-security') }}
remote_scripts_dir={{ remote_scripts_dir | default('/etc/transparent-security') }}
topo_file={{ topo_file_loc | default('/etc/transparent-security/mininet-sim-topology.yaml') }}
dev_daemon_file={{ dev_daemon_file | default('/etc/transparent-security/device-daemons.yml') }}
sdn_host={{ sdn_host | default('localhost') }}
sdn_port={{ sdn_port | default('9998') }}
ae_host={{ ae_host | default('localhost') }}
sdn_dev_intf={{ sdn_dev_intf | default('lo') }}
ae_dev_intf={{ ae_dev_intf | default('lo') }}
ae_monitor_intf={{ ae_monitor_intf | default('core1-eth3') }}
clone_egress_port={{ clone_egress_port | default('3') }}
run_daemons={{ run_daemons | default('True') }}
