#!/usr/bin/env bas
# Runs the device (host) for 5 seconds to send a message (msg) through UDP packets to destination port (port) in intervals of 0.1 seconds
sudo ./send_udp.py -d 5 -r {{ host }} -p {{ port }} -m {{ msg }} -i 0.1
