#!/usr/bin/env bash

# Copyright (c) 2019 Cable Television Laboratories, Inc.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# Runs the Analytics Engine
{{ remote_tps_dir }}/bin/start_ae.py -f {{ log_dir }}/{{ service_name }}.log -s {{ sdn_host }}:{{ sdn_port }} -l {{ log_level }} -i {{ monitor_intf }} -t {{ srvc_type }}
