#!/usr/bin/env bash

# Copyright (c) 2019 Cable Television Laboratories, Inc.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# Runs the Tofino model chip emulator

export SDE=~{{ sudo_user }}/bf-sde-{{ sde_version }}
export SDE_INSTALL=$SDE/install

mkdir {{ log_dir }}
# TODO/FIXME - Determine why sending in port mappings break the switch where it doesn't receive any input
$SDE/run_tofino_model.sh -p {{ prog_name }} -f {{ remote_scripts_dir }}/port-mapping.json --log-dir={{ log_dir }}
