/*
 * Copyright (c) 2021 Cable Television Laboratories, Inc.
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@app:name('UDP-Source-TRPT')
@source(type='udp', listen.port='{{ telem_rpt_port }}', @map(type='p4-trpt',
        @attributes(in_type='telemRptHdr.inType', full_json='jsonString')))
define stream trptUdpStream (in_type int, full_json object);

@sink(type='kafka',
    topic='{{ kafka_trpt_pkt_topic }}',
    bootstrap.servers='{{ kafka_host_port }}',
    is.binary.message = 'false',
    @map(type='text'))
define stream trptPacket (full_json object);

@sink(type='kafka',
    topic='{{ kafka_trpt_drop_topic }}',
    bootstrap.servers='{{ kafka_host_port }}',
    is.binary.message = 'false',
    @map(type='text'))
define stream trptDrop (full_json object);

@info(name = 'TrptPacket')
    from trptUdpStream[in_type != 2]
    select full_json
    insert into trptPacket;

@info(name = 'TrptDrop')
    from trptUdpStream[in_type == 2]
    select full_json
    insert into trptDrop;
