tps-profile:
  global_configure_options: ''
  package_dependencies:
    - grpc
  packages:
    - bf-syslibs:
        - bf_syslibs_configure_options: ''
    - bf-utils:
        - bf_utils_configure_options: ''
    - bf-drivers:
        - bf_drivers_configure_options: ''
        - p4-runtime
        - pi
    - switch-p4-16:
        - switch_profile: {{ switch_profile | default('DC_BASIC_PROFILE') }}
        - switch_configure_options: ''
  tofino_architecture: {{ arch }}
